
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-container{
  height: 80vh;
  background-color: #f3f9fa;
}
li{
  list-style-type: none;
  color: rgb(41, 201, 201);
}
a{
  color: blueviolet;
}
footer{
  height: 10vh;
  background-color: rgb(157, 166, 167);
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

tr{
  border-color: transparent;
}

.table>:not(caption)>*>*{
  padding: 0.5rem 0.5rem;
    width: 150px;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
} 

tbody {
  counter-reset: "row-counter";
}
tr {
  counter-increment: "row-counter";
}
td.row-number:before {
  content: counter("row-counter");
}